:root {
  --primary-text: #212121;
  --secondary-text: #757575;
  --background-main: #FFFFFF;
  --background-secondary: #2F303A;
  --background-three: #F5F4FA;
  --company-color: #2196F3;
  --footer-address: rgba(255, 255, 255, 0.6);
  --logo-black: #000000;
  --header-bottom: #ECECEC;
  --button-hover: #188CE8;
  --projects-border: #EEEEEE;
  --clients-logo: #AFB1B8;
  --footer-links-bcgd: rgba(255, 255, 255, 0.1);
  --backdrop-bckg: rgba(0, 0, 0, 0.2);
}

body {
  font-family: "Roboto", "Times New Roman", sans-serif;
  background-color: var(--background-main);
  color: var(--primary-text);
  letter-spacing: 0.03em;
  font-size: 14px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.current {
  position: relative;
}

.linkhov.current {
  color: var(--company-color);
}

.transition {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* remove dots only from existing lists */
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* remove underline from all links */
.link {
  text-decoration: none;
}

h1,
h2,
h3 {
  margin-top: 0;
}

p {
  margin: 0px;
  padding: 0px;
}

/* links to change color when hover and focus*/
.linkhov:hover, .linkhov:focus {
  color: var(--company-color);
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  /* outline: solid yellow; */
}

.button {
  cursor: pointer;
}

.image {
  display: block;
  /* z-index: -2; */
}

.logo {
  font-family: "Raleway", sans-serif;
  color: var(--logo-black);
  font-weight: 700;
  /* line-height is 31px in figma, when i get 30.94px, should i round it up to 1.2 or include more numbers after dort? */
  line-height: 1.19;
  font-size: 26px;
}

.logo--web {
  color: var(--company-color);
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
  color: var(--background-main);
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.address__icon {
  fill: currentColor;
  margin-right: 10px;
}

.navigation__link:not(.current):focus::before,
.navigation__link:not(.current):hover::before {
  transform: scale(1);
}

.navigation__link::before {
  transform: scale(0);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link::before,
.current::after {
  content: "";
  background-image: url(../images/hover.jpg);
  display: inline-block;
  width: calc(100% - 1px);
  height: 4px;
  background-size: contain;
  position: absolute;
  border-radius: 2px;
  bottom: -1.3px;
  left: 0;
}

.navigation__list {
  display: flex;
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.address {
  display: flex;
  /* margin-left: auto; */
}

.address__item:not(:last-child) {
  margin-right: 50px;
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.navigation__flex:not(:last-child) {
  margin-right: 93px;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation__link,
.address__link {
  transition-property: color;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.navigation__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: inherit;
}

.address__link {
  align-items: center;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--secondary-text);
}

header {
  border-bottom: 1px solid var(--header-bottom);
}

.hero {
  display: block;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bigimage.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  max-width: 1600px;
  height: 600px;
  background-color: var(--background-secondary);
  text-align: center;
  padding: 200px 0px;
  margin-left: auto;
  margin-right: auto;
}

.hero__title {
  margin-left: auto;
  margin-right: auto;
  /* display: block; */
  width: 696px;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--background-main);
  /* outline: solid yellow; */
}

.hero__button {
  transition-property: background-color;
  padding: 10px 32px;
  min-width: 200px;
  border: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--company-color);
  color: var(--background-main);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
}

.hero__button:hover, .hero__button:focus {
  background-color: var(--button-hover);
}

.reasons__div {
  width: 270px;
  height: 120px;
  background-color: var(--background-three);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.reasons__list {
  display: flex;
  flex-wrap: wrap;
  /* margin-top: -30px; */
  /* margin-left: -30px; */
  /* padding-top: 96px;
	padding-bottom: 94px; */
}

.reasons__item {
  /* margin-left: 30px; */
  /* margin-top: 30px; */
  flex-basis: calc((100% - 90px) / 4);
}

/* .reasons__item:not(:nth-child(-n + 4)) {
	margin-top: 30px;
} */
.reasons__item:not(:nth-child(4n + 1)) {
  margin-left: 30px;
}

/* .reasons-list {
	display: flex;
	flex-wrap: wrap;
	padding-top: 96px;
	padding-bottom: 94px;
}
.reasons-item:not(:nth-last-child(-n + 4)) {
		margin-bottom: 30px;
}
.reasons-item:not(:nth-child(4n)) {
	margin-right: 30px;
}
.reasons-item {
	flex-basis: calc((100% - 120px)/ 4) ;
	background-color: tomato;
} */
.reasons__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
}

.reasons__text {
  /* margin-top: 0;
	margin-bottom: 0; */
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text);
}

.processes__text {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--background-main);
}

.section.processes {
  padding-top: 0px;
}

.processes__list {
  display: flex;
  flex-wrap: wrap;
}

.processes__item {
  flex-basis: calc((100% - 60px) / 3);
  position: relative;
}

.processes__item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.icons-list {
  display: flex;
  justify-content: center;
}

.icons-list__icon {
  fill: currentColor;
}

.icons-list__link {
  transition-property: background-color, color;
  color: var(--clients-logo);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  /* fill: var(--clients-logo); */
  /* padding: 12px 0px; */
  border-radius: 50%;
}

.icons-list__link:hover, .icons-list__link:focus {
  background-color: var(--company-color);
  color: var(--background-main);
}

.icons-list__item:not(:last-child) {
  margin-right: 10px;
}

.team__list {
  display: flex;
}

.team__item {
  flex-basis: calc((100% - 90px) / 4);
  text-align: center;
}

.team__item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.team__div {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  max-width: 270px;
  text-align: center;
  padding: 30px 0px;
  background-color: var(--background-main);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team {
  background-color: var(--background-three);
}

.team__name,
.team__text {
  font-size: 16px;
  line-height: 1.17;
  margin-bottom: 16px;
}

.team__name {
  margin-bottom: 10px;
  font-weight: 500;
}

.team__text {
  color: var(--secondary-text);
}

.clients__list {
  display: flex;
  justify-content: center;
}

.clients-svg {
  fill: currentColor;
}

.clients__link {
  color: var(--clients-logo);
  transition-property: color, border;
  /*  */
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid var(--clients-logo);
  /* fill: var(--clients-logo); */
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--company-color);
  /* fill: var(--company-color); */
  color: var(--button-hover);
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  transition-property: opacity;
  /* transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
  opacity: 1;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-bckg);
}

.modal__close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 30px;
  width: 30px;
  display: flex;
  position: absolute;
  top: 8px;
  right: 8px;
  align-items: center;
  justify-content: center;
  background-color: var(--background-main);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal__close:hover, .modal__close:focus {
  fill: #2196F3;
}

.backdrop.is-hidden > .modal {
  /* transform: scale(0.5); */
  transform: translate(50%, 50%) translateY(-150px) scale(0.8);
}

.modal {
  padding: 40px 39px 40px 41px;
  transform-origin: center center;
  transition-property: transform;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
  width: 528px;
  height: 581px;
  background-color: var(--background-main);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  outline: 1px yellow;
}

.modal__textarea:focus, .modal__input:focus {
  border-color: var(--company-color);
  outline: 0;
}

.modal__title {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 12px;
}

/* .modal-form {
	width: 448px;
} */
.modal__label {
  margin-bottom: 10px;
  display: block;
  color: var(--secondary-text);
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

.modal__label--margin {
  margin-bottom: 20px;
}

.modal__input {
  margin-top: 4px;
  display: block;
  color: var(--primary-text);
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
}

.modal__svg-container {
  display: block;
  position: relative;
}

.modal__svg-container:focus-within {
  fill: #188CE8;
}

.modal__svg {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__textarea {
  color: var(--primary-text);
  margin-top: 4px;
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
}

/* .agreement__checkbox:hover + .agreement__svg>.agreement__svg--unchecked , */
.agreement__checkbox:focus + .agreement__svg > .agreement__svg--unchecked {
  outline: 2.5px solid var(--company-color);
  border-radius: 2px;
  outline-offset: -2px;
}

.agreement__checkbox:checked + .agreement__svg > .agreement__svg--checked {
  opacity: 1;
}

.agreement__checkbox:checked + .agreement__svg > .agreement__svg--unchecked {
  opacity: 0;
}

.agreement {
  padding-left: 13px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  color: var(--secondary-text);
}

.agreement__svg {
  display: block;
  width: 16px;
  height: 15px;
  position: relative;
  margin-right: 8.38px;
  /* border: 2px solid var(--primary-text); */
}

.agreement__svg--checked {
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--company-color);
  background-origin: border-box;
  border-color: var(--company-color);
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2px;
}

.agreement__svg--unchecked {
  transition-property: opacity , outline;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.agreement__link {
  text-decoration-line: underline;
  color: var(--company-color);
}

.agreement__link,
.agreement {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.modal__button {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: var(--background-main);
  background-color: var(--company-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px;
}

.modal__button:hover {
  background-color: #188CE8;
}

.modal__textarea::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.subscribe-icon {
  margin-left: 10px;
}

.form-foot {
  display: flex;
}

.subscribe__email {
  color: var(--background-main);
  margin-right: 12px;
  padding-left: 16px;
  display: inline-block;
  width: 358px;
  height: 50px;
  background-color: var(--background-secondary);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.subscribe__email::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--footer-address);
}

.subscribe__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: var(--background-main);
  background-color: var(--company-color);
  border: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.footer-address__link,
.footer-address__text {
  line-height: 1.71;
  font-style: normal;
}

.foot-addr-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address__link {
  transition-property: color;
  color: var(--footer-address);
}

.footer-address__text {
  color: var(--background-main);
}

.footer {
  padding: 60px 0px;
  background-color: var(--background-secondary);
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.footer__flex:nth-child(1) {
  width: 231px;
  margin-right: 70px;
}

.footer__flex:nth-child(2) {
  margin-right: 93px;
}

.join__list {
  display: flex;
  justify-content: center;
}

.team-icon {
  /* fill: currentColor; */
}

.footer__title {
  color: var(--background-main);
  font-style: normal;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
}

.join__link {
  transition-property: background-color;
  display: flex;
  width: 44px;
  height: 44px;
  fill: var(--background-main);
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--footer-links-bcgd);
}

.join__link:hover, .join__link:focus {
  background-color: var(--company-color);
}

.join__item:not(:last-child) {
  margin-right: 10px;
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__button {
  transition-property: background-color, box-shadow, color;
  padding: 6px 22px;
  /* display: block; */
  border-radius: 4px;
  border: 0px;
  background-color: var(--background-three);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  color: var(--primary-text);
}

.filter__button:hover, .filter__button:focus, .filter__button.active {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--company-color);
  color: var(--background-main);
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.grid__item {
  flex-basis: calc((100% - 60px) / 4);
}

.grid__item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.grid__item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.grid__title {
  /* padding-top: 20px; */
  margin-bottom: 4px;
  /* padding-bottom: 4px; */
  color: var(--primary-text);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.grid__text {
  /* border-bottom: 1px solid var(--background-three);
	padding-bottom: 20px; */
  color: var(--secondary-text);
  font-size: 16px;
  line-height: 1.875;
}

/* .grid__title,
.grid__text {
	border-left: 1px solid var(--background-three);
	border-right: 1px solid var(--background-three);
	padding-left: 24px; 
} */
.grid__border {
  border-left: 1px solid var(--projects-border);
  border-right: 1px solid var(--projects-border);
  border-bottom: 1px solid var(--projects-border);
  padding: 20px 24px;
}

.grid__link {
  transition-property: box-shadow;
  display: block;
}

.grid__link:hover .grid__overlay {
  transform: translateY(0);
}

.grid__link:hover, .grid__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.grid__thumb {
  position: relative;
  overflow: hidden;
}

.grid__overlay {
  transition-property: transform;
  transform: translateY(100%);
  /* remove */
  background-image: linear-gradient(to right, rgba(33, 150, 243, 0.9), rgba(33, 150, 243, 0.9));
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  top: 0;
  padding: 0px 24px;
  font-size: 18px;
  line-height: 28px;
  color: var(--background-main);
}
/*# sourceMappingURL=main.css.map */