.header__contacts {
	display: none;
	&.is-open {
		display: block;
	}
}
.header__container {
	position: relative;
}
.header__menu-button {
	display: inline-flex;
	margin: 0;
	padding: 0;
	border: none;
	background-color: transparent;
}
.header__svg {
	position: absolute;
	top: 0;
	right: 0;
}
.header__icon-cross {
	display: none;
	
}

.header__menu-button {
	&.is-open .header__icon-cross {
		display: block;
	}
	&.is-open .header__icon-menu {
		display: none;
	}
}
