.backdrop.is-hidden{
	opacity: 0;
	pointer-events: none;
}

.backdrop {
	z-index: 11;
	overflow-y: scroll;
	// display: flex;
	// justify-content: center;
	// align-items: center;
	position: fixed;
	top: 0;
	right: 0;
	transition-property: opacity;
	/* transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
	opacity: 1;
	width: 100%;
	height: 100%;
	background-color: var(--backdrop-bckg) ;
	padding: 93px 15px 94px 15px;
}
// .modal__close:hover {
// 	fill: #2196F3;
// }
.modal__close {
	&:hover,
	&:focus {
		fill: #2196F3;
	}
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
	height: 30px;
	width: 30px;
	display: flex;
	position: absolute;
	top: 8px;
	right: 8px;
	align-items: center;
	justify-content: center;
	background-color: var(--background-main);
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;

}
.backdrop.is-hidden > .modal {
	/* transform: scale(0.5); */
	transform: translate(50% , 50%) translateY(-150px) scale(0.8) ;
}
// .modal__textarea:focus,
// .modal__input:focus {
// 	border-color: var(--company-color);
// 	outline: 0;
// }
.modal {
	z-index: 2;
	position: relative;
	&__textarea:focus,
	&__input:focus {
		border-color: var(--company-color);
		outline: 0;
	}
	padding: 40px 39px 40px 41px;
	// transform-origin: center center;
	// transition-property: transform;
	// display: flex;
	// justify-content: center;
	// position: absolute;

	background-color: var(--background-main);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	outline: 1px yellow;
	@media (min-width: 480px) {
		position: absolute;
		bottom: 50%;
		right: 50%;
		transform: translate(50%, 50%);
		width: 450px;
	}
	@media (min-width: 1200px) {
		width: 528px;
	}

}
.modal__title {
	text-align: center;
	font-weight: 700;
	font-size: 20px;
	line-height: 23px;
	margin-bottom: 12px;
}
/* .modal-form {
	width: 448px;
} */
.modal__label {
	&:last-child {
		background-color: aqua;
	}
	margin-bottom: 10px;
	display: block;
	color: var(--secondary-text);
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
}
.modal__label--margin {
	margin-bottom: 20px;
}
.modal__input {
	margin-top: 4px;
	display: block;
	color: var(--primary-text);
	width: 100%;
	height: 40px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	padding-left: 42px;
}

.modal__svg-container {
	&:focus-within {
		fill: #188CE8;
	}
	display: block;
	position: relative;
}
// .modal__svg-container:focus-within {
// 	fill: #188CE8;
// }

.modal__svg {
	position: absolute;
	top: 50%;
	left: 12px;
	transform: translateY(-50%);
	display: flex;
	justify-content: center;
	align-items: center;
}
.modal__textarea {
	color: var(--primary-text);
	margin-top: 4px;
	resize: none;
	width: 100%;
	height: 120px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	padding: 12px 16px;
}
// .agreement__checkbox:checked + .agreement__svg > .agreement__svg--checked {
// 	opacity: 1;
// }
/* .agreement__checkbox:hover + .agreement__svg>.agreement__svg--unchecked , */
.agreement__checkbox:focus + .agreement__svg > .agreement__svg--unchecked {
	outline: 2.5px solid var(--company-color);
	border-radius: 2px;
	outline-offset: -2px;
}
// .agreement__checkbox:checked+.agreement__svg>.agreement__svg--unchecked {
// 	opacity: 0;

// }
.agreement__checkbox:checked+.agreement__svg {
	& > .agreement__svg--checked {
			opacity: 1;
		}
	& > .agreement__svg--unchecked {
		opacity: 0;
	
	}
}
.agreement {
	// padding-left: 13px;
	display: flex;
	margin-bottom: 30px;
	justify-content: center;
	color: var(--secondary-text);
}
.agreement__svg {
	display: inline-block;
	width: 16px;
	height: 15px;
	position: relative;
	margin-right: 8px;
	/* border: 2px solid var(--primary-text); */
}
.agreement__svg--checked {
	transition-property: opacity; 
	transition-duration: 250ms ;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	background-color: var(--company-color);
	background-origin: border-box;
	border-color: var(--company-color);
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50% , -50%);
	border-radius: 2px;
}
.agreement__svg--unchecked {
	transition-property: opacity , outline;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.agreement__link {
	text-decoration-line: underline;
	color: var(--company-color);
}

.agreement__link,
.agreement {
	font-weight: 400;	
	font-size: 12px;
	line-height: 1.16;
	letter-spacing: 0.03em;
	@media (min-width: 1200px) {
		font-size: 14px;
		line-height: 24px;
	}

}

// .modal__button:hover {
// 	background-color: #188CE8;
// }
.modal__button {
	&:hover {
		background-color: #188CE8;
	}
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
	height: 50px;
	font-weight: 700;
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 0.06em;
	color: var(--background-main);
	background-color: var(--company-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	border: 0px;
}
.modal__textarea::placeholder {
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.01em;
	color: rgba(117, 117, 117, 0.5);
}