.processes__text {
	position: absolute;
	bottom: 0;
	width: 370px;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));
	font-weight: 700;
	line-height: 16px;
	text-transform: uppercase;
	color: var(--background-main);
}

.section.processes {
	padding-top: 0px;
	@media (max-width: 1199px) {
		display: none;
	}
}

.processes__list {
	display: flex;
	flex-wrap: wrap;
}

.processes__item {
	flex-basis: calc((100% - 60px) / 3);
	position: relative;
}

.processes__item:not(:nth-child(3n)) {
	margin-right: 30px;
}