:root {
	--primary-text: #212121;
	--secondary-text: #757575;
	--background-main: #FFFFFF;
	--background-secondary: #2F303A;
	--background-three: #F5F4FA;
	--company-color: #2196F3;
	--footer-address: rgba(255, 255, 255, 0.6);
	--logo-black: #000000;
	--header-bottom: #ECECEC;
	--button-hover: #188CE8;
	--projects-border: #EEEEEE;
	--clients-logo: #AFB1B8;
	--footer-links-bcgd: rgba(255, 255, 255, 0.1);
	--backdrop-bckg: rgba(0, 0, 0, 0.2);
}

$primaryFont:  'Roboto',
 'Times New Roman',
 sans-serif;
$logoFont: 'Raleway',
sans-serif;